{% extends "layout.html" %}
{% block content %}
<div class="w3-container ml-1 w3-animate-opacity">
    <div class="text"><b>About</b></div>
    <p>Hi!<br> I'm Giovanni Hauber, a backend software developer based in Naples, Italy.<br>
        My strong passion for technology and programming led me to get a degree in <b><i>Computer Science</i></b> in my home country,
        at the <a target="_blank" href="https://www.uniparthenope.it/ugov/degree/1101"><b><i>Parthenope's Univeristy.</i></b></a>
        <br><br>In those formation year, i got wonderful opportunities of self-growing and formation such as working in an internship at the 
        <a target="_blank" href="http://www.iosdeveloperacademy.uniparthenope.it/"><b><i>Apple Foundation Program </i></b></a> as lead programmer and developer 
        of a mobile app, and empower my team work and relationship thanks to the 
        <a target="_blank" href="https://www.accenture.com/it-it"><b><i>Accenture Soft Skills course</i></b></a>, which taught me the fundamentals
        of the team communication and cooperation.
       <br><br>
       Currently working on my graduate thesis, i'm hungry for any kind of knowledge in this field, getting my hands in everything to improve myself
       day by day. <br><br> You can find more about me on my  <a target="_blank" href="https://github.com/Asynchronousx"><b><i>Github</i></b></a>
       and <a target="_blank" href="https://www.linkedin.com/in/giovanni-hauber-060214152"><b><i>Linkedin</i></b></a> links!<br><br><br>

       <div class="text-center"><p>Currently known <code>languages</code>:</p></div>
        <div class="color-box">
            <div class="text-center">
                <div class="language-box">C</div> 
                <div class="language-box">C++</div> 
                <div class="language-box">C#</div>
                <div class="language-box">Java</div> 
                <div class="language-box">SQL</div>
                <div class="language-box">Swift</div> 
                <div class="language-box">Python</div> 
                <div class="language-box">Linux</div>
            </div>
        </div>
        <br><br>
        <div class="text-center"><p>Wanna know more? get in <a href="mailto:hauber.giovanni@gmail.com">Contact!</a></p></div>
        <p class="copyright">© 2019 Giovanni Hauber</p>

</div>
{% endblock content %}
